/* header
 -----------------------------------------------------*/
.nav-tabs-profile {
  border-bottom: 1px solid #333333;
}
.nav-tabs-profile li {
  margin-right: 30px;
}
.nav-tabs-profile li:last-child {
  margin-right: 0px;
}
.nav-tabs-profile li a {
  color: #FFFFFF !important;
  border: none !important;
  border-bottom: 1px solid #333333 !important;
  padding: 0.5rem 0px;
}
.nav-tabs-profile li a:hover {
  border-bottom: 1px solid #02A4E5 !important;
  color: #02A4E5 !important;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.nav-tabs-profile li a.active {
  background-color: #23221d !important;
  background: #23221d;
  border: none !important;
  border-bottom: 1px solid #02A4E5 !important;
  color: #02A4E5 !important;
}

.blk-profile {
  display: inline-block;
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  padding: 0px 30px;
}

.blk-individual {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
}

.form-profile .md-row {
  margin-bottom: 18px;
}
.form-profile .md-row:last-child {
  margin-bottom: 0px;
}
.form-profile label {
  color: #999999;
  display: block;
  padding-left: 10px;
  font-size: 14px;
}
.form-profile input[type=text] {
  padding: 0px 20px;
  width: 350px;
  background: #333333;
  height: 44px;
  border: none;
  border-radius: 111px;
  color: #EEEEEE;
}
.form-profile .submit {
  display: table;
  margin: 0 auto;
  background: url(../images/icon-check.png) no-repeat 10px 10px #02A4E5;
  border: none;
  border-radius: 111px;
  height: 50px;
  padding: 0px 20px 0px 50px;
  font-weight: bold;
  color: #EEEEEE;
}

.blk-changer-passwork {
  display: table;
  margin: 0 auto;
  padding-top: 50px;
}
.blk-changer-passwork .a-forgot-passwork {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #999999;
  border-bottom: 1px solid #333333;
  margin-top: 3px;
  padding-bottom: 0px;
}
.blk-changer-passwork .a-forgot-passwork:hover {
  color: #FFF;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
