@charset "UTF-8";
/* layout general
 -----------------------------------------------------*/
/* general setting
 -----------------------------------------------------*/
* {
  outline: transparent;
}


body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'UTMAvo';
  font-size: calc(4px + 1vw);
  color: #000;
  line-height: 1.5;
  background: #FFF;
}
@font-face {
  font-family: 'UTMAvo';
  src: url(../fonts/UTMAvo/UTMAvo.woff2) format("woff2"),
   url(../fonts/UTMAvo/UTMAvo.eot) format("eot"),
    url(../fonts/UTMAvo/UTMAvo.ttf) format("ttf"),
     url(../fonts/UTMAvo/UTMAvo.woff) format("woff"); }
@font-face {
  font-family: 'UTMAvoBold';
  src: url(../fonts/UTMAvoBold/UTMAvoBold.woff2) format("woff2"),
   url(../fonts/UTMAvoBold/UTMAvoBold.eot) format("eot"),
    url(../fonts/UTMAvoBold/UTMAvoBold.ttf) format("ttf"),
     url(../fonts/UTMAvoBold/UTMAvoBold.woff) format("woff"); }
@font-face {
  font-family: 'Cobe-ExtraBold';
  src: url(../fonts/Cobe-ExtraBold/Cobe-ExtraBold.woff2) format("woff2"),
   url(../fonts/Cobe-ExtraBold/Cobe-ExtraBold.eot) format("eot"),
    url(../fonts/Cobe-ExtraBold/Cobe-ExtraBold.ttf) format("ttf"),
     url(../fonts/Cobe-ExtraBold/Cobe-ExtraBold.woff) format("woff"); }
@font-face {
  font-family: 'Cobe-Regular';
  src: url(../fonts/Cobe-Regular/Cobe-Regular.woff2) format("woff2"),
   url(../fonts/Cobe-Regular/Cobe-Regular.eot) format("eot"),
    url(../fonts/Cobe-Regular/Cobe-Regular.ttf) format("ttf"),
     url(../fonts/Cobe-Regular/Cobe-Regular.woff) format("woff"); }

a {
  color: #0041d1;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
a:hover {
  text-decoration: none;
  color: #0041d1;
}
a:focus {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'UTMAvoBold';
  line-height: 1.4;
  font-size: calc(8px + 2vw);
  color: #e61453;
  margin-bottom: 20px;
}

p {
  margin-bottom: 5px;
}
p:last-child {
  margin-bottom: 0px;
}
strong{
  font-family: 'UTMAvoBold';
}
input[type=submit] {
  border: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
img{
  width: 100%;
}
.page-main{
  background: #f0f4fa;
  height: 100vh;
  text-align: center;
  position: relative;
}
.page-main .logo{
  width: 30%;
  display: table;
  padding-top: 30px;
  margin: 0px auto 30px auto;
}
.page-main .logo-footer{
  width: 7%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0%;
}
.page-main .md-form{
  width: 20%;
  display: table;
  margin: 0 auto;
}
.page-main .md-form .md-row{
  margin-bottom: 15px;
}
.page-main .md-form input[type="text"]{
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  width: 100%;

}
.page-main .md-form input[type="button"]{
  background: #ed6924;
  border: none;
  width: 60%;
  border-radius: 5px;
  display: table;
  margin: 0 auto;
  padding: 5px 15px;
  box-shadow: 1px 2px 3px #000;
  font-weight: 500;
  font-style: italic;
}
.page-main .md-form input[type="text"]::placeholder{
  font-style: italic;
  text-align: center;
}
.page-main .md-form p.error{
  font-size: calc(2px + 0.8vw);
  text-align: left;
  margin-top: 3px;
  color: red;
  font-style: italic;
}
@media screen and (min-width: 2000px){
  .page-main .logo{
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .page-main .md-form input[type="text"]{
    padding: 15px 15px;
    border-radius: 10px;
  }
  .page-main .md-form input[type="button"]{
    padding: 15px;
  }
  .page-main .md-form .md-row{
    margin-bottom: 25px;
  }
  .page-main .md-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
@media screen and (max-width: 767px){
  .page-main .md-form{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .page-main .logo{
    width: 40%;
  }
  .page-main .logo-footer{
    width: 10%;
  }
  .page-main .md-form p.error{
    font-size: calc(4px + 0.6vw);
  }
}