/* trash_box_login
 -----------------------------------------------------*/
.page-trashbox_login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #EEEEEE;
  min-height: 100vh;
  background: #23231d;
}
.page-trashbox_login .fl-left {
  background: #171715;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-trashbox_login .fl-left .ctn-inner {
  max-height: 800px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 500px;
  width: 100%;
}
.page-trashbox_login .fl-left .inner {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  max-width: 350px;
}
.page-trashbox_login .fl-left .logo {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
.page-trashbox_login .fl-left .logo a {
  font-size: 14px;
  text-align: center;
  display: block;
  color: #EEEEEE;
  text-decoration: none;
}
.page-trashbox_login .fl-left .logo a img {
  display: block;
  margin: 0 auto;
  width: 100px;
}
.page-trashbox_login .fl-left form {
  color: #EEEEEE;
}
.page-trashbox_login .fl-left form .md-row {
  margin-bottom: 25px;
}
.page-trashbox_login .fl-left form input {
  outline: none;
  padding: 0px 20px;
  display: block;
  width: 100%;
  border: none;
  height: 44px;
  border-radius: 111px;
  background: #333333;
  color: #EEEEEE;
}
.page-trashbox_login .fl-left form label {
  margin-left: 15px;
}
.page-trashbox_login .fl-left form .hl {
  position: relative;
}
.page-trashbox_login .fl-left form .eyes {
  width: 18px;
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.page-trashbox_login .fl-left form .submit {
  cursor: pointer;
  width: 140px;
  background: #02A4E5;
  display: block;
  margin: 45px auto 0 auto;
}
.page-trashbox_login .fl-left form .submit:hover {
  background: #5fc5ea;
  color: #FFF;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.page-trashbox_login .fl-left form .password {
  padding: 0px 45px 0px 20px;
}
.page-trashbox_login .fl-left form .forgot_password {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #EEE;
  font-size: 14px;
}
.page-trashbox_login .fl-left .title {
  margin-bottom: 30px;
}
.page-trashbox_login .fl-left .title strong {
  color: #EEEEEE;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}
.page-trashbox_login .fl-left .text-hl {
  display: block;
  text-align: center;
  font-size: 14px;
  margin: 10px 0px 25px;
}
.page-trashbox_login .fl-right {
  background: #23221d;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 600px;
}
.page-trashbox_login .fl-right img.bg {
  display: block;
  width: 84%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .page-trashbox_login .fl-left form .hl .eyes {
    width: 15px;
  }
  .page-trashbox_login .fl-left {
    width: 100%;
    min-height: 550px;
  }
  .page-trashbox_login .fl-left form input {
    height: 35px;
  }
  .page-trashbox_login .fl-right {
    display: none;
  }
}
